*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Roboto', sans-serif;
    color: #182c61;
}
p{
    margin-bottom: 20px;
}

header{
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}

header li{
    display: inline;
    margin-left: 16px;
}
header a{
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
header .container, section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

section .container{
    align-items: flex-start;
}

.brand-list img{
    max-height: 24px;
    margin-right: 15px;
}
.brand-list li{
    display: inline;
    
}
section{
    padding: 24px;
}
.frente-loja{
    margin-right: 24px;
}

h1, h2, h3, nav a, button{
    font-family: 'Bungee', cursive;
    font-weight: normal;

}

h2{
    margin-bottom: 20px;

}
#contact .container{
    display: block;
}
#contact .methods{
    display: flex;
    justify-content: space-between;
}
form input, form textarea, form button{
    display: block;
    margin-bottom: 8px;
    padding: 8px;
    width: 300px;
    
}

#contact .methods textarea{
    height: 130px;
}

form input:focus, form textarea:focus{
    outline-color: #182c61;
}

button{
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    background-color: #5069ac;
}


.methods img{
    height: 24px;
}
.social-links li{
    display: inline;
    margin-right: 10px;
    
}
.social-links li a{
    text-decoration: none;    
}

footer{
    background-color: #182c61;
    color: #ecf0f1;
    text-align: center;
    padding: 15px 0px 10px 0px;
}


